li.item-menu-mobile
  a(href="/") Home
li.item-menu-mobile
  a(href="/shop") Shop
li.item-menu-mobile
  a(href="/cart") Cart
li.item-menu-mobile
  a(href="/about") About
li.item-menu-mobile
  a(href="/contact") Contact